/* ========== Pantallas mayores a 550px y menores a 739px ========== */
@media only screen and (min-width: 550px) {
    /* ========== Utilidades ========== */
    .btn-login {
        font-size: 1rem;
        padding: .5rem .8rem;
    }

    /* ========== Seccion del Header ========== */
    header .navbar {
        width: 80%;
    }

    header .navbar .logo-netflix {
        width: 108px;
    }

    /* ========== Seccion del Hero ========== */
    .hero {
        height: 668.594px;
    }

    .hero-content {
        margin-top: 25%;
        width: 85%;
    }

    .hero-title {
        font-size: 3.125rem;
        line-height: 1.2;
    }

    .hero-subtitle {
        font-size: 1.625rem;
    }

    /* ========== Seccion del Main ========== */
    .main-seccion-text h2 {
        font-size: 2.5rem;
    }

    .main-seccion-multimedia .multimedia-gif {
        width: 55%;
        top: 68%;
        left: 21.5%;
    }

    .main-seccion-multimedia .image-gif {
        width: 45.7px;
    }

    .main-seccion-multimedia .multimedia-gif-text p {
        font-size: 1em;
    }

    .main-seccion-multimedia .multimedia-gif-text small {
        font-size: .9em;
    }
}

/* ========== Pantallas mayores a 740px y menores a 949px ========== */
@media only screen and (min-width: 740px) {
    /* ========== Seccion del Hero ========== */
    .hero-content {
        margin-top: 25%;
    }

    .hero .form-title {
        font-size: 23px;
        padding: 0 15%;
    }

    .hero .form-inputs .email {
        height: 60px;
    }

    /* ========== Seccion del Main ========== */
    .main-seccion-multimedia .multimedia-gif {
        top: 68%;
    }
}

/* ========== Pantallas mayores a 950px ========== */
@media only screen and (min-width: 950px) {
    /* ========== Seccion del Hero ========== */
    .hero-content {
        margin-top: 250px;
        grid-gap: 20px;
    }

    .hero-title {
        padding: 0 20%;
    }

    .hero-subtitle {
        padding: 0 20%;
    }

    .form-container {
        grid-gap: 20px;
    }

    .hero .form-title {
        grid-row-start: 2;
        padding: 0;
        font-size: 1.2rem;
    }

    .hero .form-inputs {
        grid-template-columns: minmax(auto, 500px) auto;
        grid-gap: 0;
    }

    .hero .form-inputs .email {
        border-top-right-radius: none;
        border-bottom-right-radius: none;
    }

    .hero .form-inputs .input {
        height: 60px;
        border-top-left-radius: none;
        border-bottom-left-radius: none;
    }

    /* ========== Seccion del Main ========== */
    .main-seccion {
        padding: 3% 0;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
        align-items: center;
    }

    .main-seccion .multimedia-left {
        grid-column-start: 1;
        grid-row-start: 1;
    }
}