/* ========== Estilos Generalrs ========== */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    font-size: 16px;
    min-width: 320px;
}

a {
    text-decoration: none;
    color: white;
}

/* ========== Utilidades ========== */
h1,
h2,
h3,
h4 {
    margin: 0;
    color: white;
}

.btn-login {
    background-color: #e50914;
    font-size: .9rem;
    padding: .30rem .5rem;
    border-radius: 3px;
}

.btn-form {
    background-color: #e50914;
    padding: .7rem 1.5rem;
    color: white;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    cursor: pointer;
}

.btn-form:hover {
    background: #f40612;
    box-shadow: 0 1px 0 rgba(0,0,0,.45);
}

/* ========== Seccion del Header ========== */
header {
    position: relative;
    z-index: 1;
}

header .navbar {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    
}

header .navbar .logo-netflix {
    margin: 0;
    width: 90px;
}

header .navbar .logo-netflix img {
    width: 100%;
    vertical-align: top;
    object-fit: cover;
}

/* ========== Seccion del Hero ========== */
.hero {
    position: relative;
    width: 100%;
    height: 480px;
}

.hero-container {
    position: absolute;
    top: -75.09px;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/a6fede83-60f5-4588-93a1-b82b099db1d0/99226a35-6fb7-48a5-aab9-ed11f0ce6024/VE-es-20200720-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.3), rgba(0,0,0,.9));
}

.hero-content {
    position: relative;
    width: 90%;
    margin: 35% auto 10px;
    display: grid;
    grid-gap: 10px;
    align-items: center;
}

.hero-title {
    font-size: 1.75rem;
    text-align: center;
    line-height: 1.5;
}

.hero-subtitle {
    font-size: 1.125rem;
    text-align: center;
    font-weight: normal;
    line-height: 1.5;
}

.form-container {
    display: grid;
    grid-gap: 10px;
}

.hero .form-title {
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
}

.hero .form-inputs {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(auto, 500px);
    justify-content: center;
}

.hero .form-inputs .email {
    height: 48px;
    outline: none;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    padding: 5px;
}

.hero .form-inputs .submit {
    justify-self: center;
    text-transform: uppercase;
}


