/* ========== Estilos Generalrs ========== */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    font-size: 16px;
    min-width: 320px;
}

a {
    text-decoration: none;
    color: white;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    color: white;
}

p {
    margin: 0;
    color: white;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    vertical-align: top;
    object-fit: cover;
}

video {
    width: 100%;
}

/* ========== Utilidades ========== */
.btn-login {
    background-color: #e50914;
    font-size: .9rem;
    padding: .30rem .5rem;
    border-radius: 3px;
}

.btn-form {
    background-color: #e50914;
    padding: .7rem 1.5rem;
    color: white;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    cursor: pointer;
}

.btn-form:hover {
    background: #f40612;
    box-shadow: 0 1px 0 rgba(0,0,0,.45);
}

.border-top {
    border-top: 8px solid #222;
}

/* ========== Seccion del Header ========== */
header {
    position: relative;
    z-index: 1;
}

header .navbar {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    
}

header .navbar .logo-netflix {
    width: 90px;
}

/* ========== Seccion del Hero ========== */
.hero {
    position: relative;
    width: 100%;
    height: 480px;
}

.hero-container {
    position: absolute;
    top: -75.09px;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/a6fede83-60f5-4588-93a1-b82b099db1d0/99226a35-6fb7-48a5-aab9-ed11f0ce6024/VE-es-20200720-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.3), rgba(0,0,0,.9));
}

.hero-content {
    position: relative;
    width: 90%;
    margin: 35% auto 10px;
    display: grid;
    grid-gap: 10px;
    align-items: center;
}

.hero-title {
    font-size: 1.75rem;
    text-align: center;
    line-height: 1.5;
}

.hero-subtitle {
    font-size: 1.125rem;
    text-align: center;
    font-weight: normal;
    line-height: 1.5;
}

.form-container {
    display: grid;
    grid-gap: 10px;
}

.hero .form-title {
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
}

.hero .form-inputs {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(auto, 500px);
    justify-content: center;
}

.hero .form-inputs .email {
    height: 48px;
    outline: none;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
    padding: 5px;
}

.hero .form-inputs .submit {
    justify-self: center;
    text-transform: uppercase;
}


/* ========== Seccion del Main ========== */
.main-seccion {
    width: 90%;
    margin: 0 auto;
    padding: 8% 0;
    display: grid;
    justify-items: center;
}

.main-seccion-text {
    text-align: center;
}

.main-seccion-text h2 {
    font-size: 1.625rem;
    line-height: 1.1;
    margin-bottom: .5rem;
}

.main-seccion-text h3 {
    font-weight: normal;
    line-height: 1.6;
}

.main-seccion-multimedia {
    position: relative;
}

.main-seccion-multimedia .multimedia-image {
    position: relative;
    z-index: 1;
    width: 80%;
    margin: 0 auto;
}

.main-seccion-multimedia .multimedia-video-1 {
    width: 58.5%;
    position: absolute;
    top: 20.5%;
    left: 20.5%;
}

.main-seccion-multimedia .multimedia-video-2 {
    width: 50%;
    position: absolute;
    top: 10%;
    left: 24%;
}

.main-seccion-multimedia .multimedia-gif {
    margin: 0 auto;
    position: absolute;
    width: 70%;
    min-width: 203.313;
    top: 63%;
    left: 14.5%;
    z-index: 1;
    padding: 12px;
    background-color: black;
    display: grid;
    grid-template-columns: 50px auto 50px;
    align-items: center;
    border: 2px solid rgba(255,255,255,.25);
    box-shadow: 0 0 2em 0 #000;
    border-radius: .75em;
}

.main-seccion-multimedia .image-gif {
    width: 34.281px;
}

.main-seccion-multimedia .multimedia-gif-text {
    padding-left: 5%;
}

.main-seccion-multimedia .multimedia-gif-text p {
    font-weight: 600;
    font-size: .9em;
}

.main-seccion-multimedia .multimedia-gif-text small {
    color: #0071eb;
    font-size: .75em;
    font-weight: 400;
}

.main-seccion-multimedia .multimedia-gif::after {
    content: '';
    width: 3em;
    height: 3em;
    outline: 2px solid #000;
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    background-size: 100%;
}